@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25vh 30vw ;
    /* border: 2px solid #000 ; */
 }
.panel{
    display: flex;
    align-items: flex-end;
    /* margin: 2.5vh .5vw; */
    padding: 1vh 1vw;
    border:0px solid #000 ;
    border-radius: 50px;
    width: 15vw;
    height: 80vh;
    /* transition: width 2s; */
    color: #fff;
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in; 
 }

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 7;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }

    panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
} 







                    /* RELEASE_V2.1 */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25vh 30vw ;
    /* border: 2px solid #000 ; */
/* }

body>div>div{
    display: flex;
    align-items: flex-end;
    margin: 2.5vh .5vw;
    padding: 1vh 1vw;
    border:0px solid #000 ;
    border-radius: 50px;
    width: 5vw;
    height: 80vh;
    transition: width 2s;
}
.container1{
    width: 70vw;
}

h3{
    color: rgba(250, 250, 250, 0.0);
} */